{{ define "main"}}
{{- $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $index,$data := $paginator.Pages }}
<article class="post">
	<h1 class="post-title">
		<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
	</h1>
	<div class="post-meta">
		{{ partial "main/date" .}}
		{{ partial "main/categories" . }}
	</div>
	<div class="post-content">
		{{ .Summary }}……
	</div>
	<p class="readmore"><a href="{{ .Permalink }}">阅读全文</a></p>
</article>
{{ end }}
{{ partial "main/paginator" . }}
{{ end }}